@using System.Text.RegularExpressions;
@using EntityLayer.Concrete
@model List<Message>

@{
    Layout = "~/Views/Shared/_AdminContactLayout.cshtml";
}

@foreach (var item in Model)
{
    bool isRead = item.MessageStatusRead;

    <tr class="position-relative @(isRead ? "bg-light" : "")">
        <th scope="row" class="text-end position-relative" style="z-index:2;">
            <input class="form-check-input m-1" type="checkbox" name="domainList" value="" aria-label="Seç" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Seç">
        </th>
        <td class="text-truncate" style="max-width: 32rem;">
            <a href="@Url.Action("MessageDetails/" + item.MessageId, "AdminMessage")" class="stretched-link text-decoration-none text-reset @(isRead ? "" : "fw-bold") me-2">
                @item.MessageSender
            </a>
        </td>
        <td class="text-truncate fw-light" style="max-width: 1px;">
            <span class="@(isRead ? "fw-normal" : "fw-bold")">@item.MessageSubject</span>
            <span class="mx-2">&ndash;</span>
            @Regex.Replace(item.MessageBody, "<(.|\n)*?>", string.Empty).Trim()
        </td>
        <td class="text-nowrap">
            <small class="text-muted @(isRead ? "" : "fw-bold")">
                @item.MessageDate.ToString("d MMM yyy")
            </small>
        </td>
    </tr>
}
