
@{
    Layout = null;
    string ControllerName = ViewContext.RouteData.Values["Controller"].ToString();
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Proje Kampı</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-nowrap">
    <nav class="d-flex flex-shrink-0 text-white bg-dark">
        <div class="d-flex flex-column px-3 pt-4 pb-3 sticky-top sidebar scrollbar">
            <a href="@Url.Action("Index", "AdminHome")" class="d-flex align-items-center text-white text-decoration-none fs-4">
                <i class="bi-code-slash mx-2"></i>MVC Proje Kampı
            </a>
            <hr class="border-top" />
            <div class="nav nav-pills flex-column mb-auto">
                <a href="@Url.Action("Index", "AdminHome")" class="nav-link link-light @(ControllerName == "AdminStatistic" ? "active" : "")">
                    <i class="bi-house me-2"></i>Anasayfa
                </a>
                <a href="@Url.Action("Index", "AdminCategory")" class="nav-link link-light @(ControllerName == "AdminCategory" ? "active" : "")">
                    <i class="bi-tags me-2"></i>Kategoriler
                </a>
                <a href="@Url.Action("Index", "AdminHeading")" class="nav-link link-light @(ControllerName == "AdminHeading" ? "active" : "")">
                    <i class="bi-card-heading me-2"></i>Başlıklar
                </a>
                <a href="@Url.Action("Index", "AdminContent")" class="nav-link link-light @(ControllerName == "AdminContent" ? "active" : "")">
                    <i class="bi-journal-richtext me-2"></i>Yazılar
                </a>
                <a href="@Url.Action("Index", "AdminWriter")" class="nav-link link-light @(ControllerName == "AdminWriter" ? "active" : "")">
                    <i class="bi-person-lines-fill me-2"></i>Yazarlar
                </a>
                <a href="@Url.Action("Index", "AdminGalleryImage")" class="nav-link link-light @(ControllerName == "AdminGallery" ? "active" : "")">
                    <i class="bi-images me-2"></i>Galeri
                </a>
                <button class="btn btn-toggle align-items-center text-start w-100 nav-link link-light @(ControllerName == "AdminGraphic" ? "active" : "")" data-bs-toggle="collapse" data-bs-target="#graphics-collapse" aria-expanded="false">
                    <i class="bi-graph-up me-2"></i>Grafikler
                </button>
                <div class="collapse" id="graphics-collapse">
                    <div class="btn-toggle-nav fw-light ms-4 p-1 small">
                        <a href="#" class="nav-link link-light">Overview</a>
                        <a href="#" class="nav-link link-light">Weekly</a>
                        <a href="#" class="nav-link link-light">Monthly</a>
                        <a href="#" class="nav-link link-light">Annually</a>
                    </div>
                </div>
                @if (User.IsInRole("A"))
                {
                    <a href="@Url.Action("Index", "AdminAuthorization")" class="nav-link link-light @(ControllerName == "AdminAuthorization" ? "active" : "")">
                        <i class="bi-shield-lock me-2"></i>Yetkilendirmeler
                    </a>
                    <button class="btn btn-toggle align-items-center text-start w-100 nav-link link-light @(ControllerName == "AdminError" ? "active" : "")" data-bs-toggle="collapse" data-bs-target="#errorpages-collapse" aria-expanded="false">
                        <i class="bi-bug me-2"></i>Hata Sayfaları
                    </button>
                    <div class="collapse" id="errorpages-collapse">
                        <div class="btn-toggle-nav fw-light ms-4 p-1 small">
                            <a href="@Url.Action("Page403", "PageError")" class="nav-link link-light">403</a>
                            <a href="@Url.Action("Page404", "PageError")" class="nav-link link-light">404</a>
                        </div>
                    </div>
                }
                <a href="@Url.Action("Index", "AdminAbout")" class="nav-link link-light @(ControllerName == "AdminAbout" ? "active" : "")">
                    <i class="bi-info-square me-2"></i>Hakkımızda
                </a>
                <a href="@Url.Action("Index", "AdminMessage")" class="nav-link link-light @(ControllerName == "AdminContact" || ControllerName == "AdminMessage" ? "active" : "")">
                    <i class="bi-chat-dots me-2"></i>Mesajlar
                </a>
                <a href="@Url.Action("Index", "Personal")" class="nav-link link-light @(ControllerName == "Personal" ? "active" : "")">
                    <i class="bi-person-badge-fill me-2"></i>Yetenek kartım
                </a>
                <a href="@Url.Action("Index", "Home")" class="nav-link link-light">
                    <i class="bi-door-open me-2"></i>Siteye Git
                </a>
            </div>
            <hr class="border-top" />
            <div class="btn-group dropup my-1">
                <button type="button" class="btn btn-dark dropdown-toggle text-light text-start border-0 py-1 ps-3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="14,6">
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y&s=32" alt="user profile picture" width="32" height="32" class="rounded-circle me-2" />
                    <strong>user</strong>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="User dropdown">
                    <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                    <li><a class="dropdown-item" href="#">Profil</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("Index", "AdminLogin", new { ReturnUrl = Request.Url.AbsolutePath })">Oturum aç</a></li>
                    <li><a class="dropdown-item" href="#">Oturumu kapat</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column flex-fill">
        <main class="mt-4 mb-5">
            @RenderBody()
        </main>
        <footer class="bg-light py-5 mt-auto">
            <div class="container">
                <span class="text-muted"><small>&copy; @DateTime.Now.Year - MVC Proje Kampı</small></span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
