@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md">
            <h2>@ViewBag.Title<span class="badge bg-primary ms-2 align-top">@Model.Count()</span></h2>
        </div>
        <div class="col-12 col-md order-last text-end">
            <a href="@Url.Action("CategoryInsert")" class="btn btn-primary">Kategori ekle</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="text-nowrap">
                <table class="table table-striped align-middle">
                    <caption>Kategori listesi</caption>
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-end">#</th>
                            <th scope="col"><span class="visually-hidden">Durum</span></th>
                            <th scope="col">Kategori</th>
                            <th scope="col" colspan="2">Açıklama</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<tr class="@(@item.CategoryStatus ? "table-default" : "table-warning")">*@
                                <th scope="row" class="text-end">@item.CategoryId</th>
                                <td class="text-center">
                                    <span class="badge rounded-circle p-1 border border-light bg-@(item.CategoryStatus ? "success" : "danger")" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="@(item.CategoryStatus ? "Aktif" : "Pasif")">
                                        <span class="visually-hidden">@item.CategoryStatus ? Aktif : Pasif</span>
                                    </span>
                                </td>
                                <td><span class="user-select-all">@item.CategoryName</span></td>
                                <td class="fw-light">@item.CategoryDescription</td>
                                <td class="p-0">
                                    <div class="btn-group" role="group" aria-label="Yönet">
                                        <a href="@Url.Action("CategoryUpdate/" + item.CategoryId)" class="btn btn-link py-0 border-0 align-top mx-2">
                                            <i class="bi-pencil mx-2"></i>Düzenle
                                        </a>
                                        <button onclick="confirmDelete(@item.CategoryId, @item.CategoryStatus)" class="btn btn-link py-0 border-0 align-top mx-2 link-@(item.CategoryStatus ? "danger" : "success")">
                                            <i class="bi-@(item.CategoryStatus ? "dash" : "plus")-circle mx-2"></i>@(item.CategoryStatus ? "Kaldır" : "Ekle")
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function confirmDelete(id, status) {
            Swal.fire({
                title: status ? 'Kaldır' : 'Ekle',
                text: "İşleme devam etmek istiyor musunuz?",
                icon: status ? 'warning' : 'question',
                showCancelButton: true,
                confirmButtonColor: status ? '#DC3545' : '#198754',
                confirmButtonText: status ? 'Pasifleştir' : 'Aktifleştir',
                showLoaderOnConfirm: true,
                preConfirm: function () {
                    $.ajax({
                        type: "POST",
                        data: {
                            'id': id
                        },
                        url: "@Url.Action("CategoryDelete")",
                        success: function () {
                            SwalTimer.fire({
                                title: status ? "Kaldırıldı" : "Eklendi",
                                text: "Kategori görünürlük durumu " + (status ? "pasif" : "aktif") + " yapıldı",
                                icon: status ? "info" : "success"
                            }).then(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire("Hata", "İşlem başarısız oldu", "error");
                        }
                    });
                },
                allowOutsideClick: function () { !Swal.isLoading(); }
            })
        }
    </script>
}
