@using EntityLayer.Concrete
@model List<Content>

@{
    ViewBag.Title = "Yazılar";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md">
            <h2>@ViewBag.Title<span class="badge bg-primary ms-2 align-top">@Model.Count()</span></h2>
        </div>
        <div class="col-12 col-md order-last text-end">
            <form>
                <div class="input-group">
                    <input class="form-control ms-auto" type="search" name="q" placeholder="Yazılar içerisinde ara" aria-label="Ara" style="max-width: 16em;" value="@Context.Request.QueryString["q"]">
                    <button class="btn btn-primary" type="submit">Ara</button>
                </div>
            </form>
        </div>
    </div>

    <div class="list-group mt-4">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ContentByHeading/" + item.HeadingId)" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Heading.HeadingName</h5>
                    <small>
                        @item.ContentCreatedOn.ToString("d MMM yyy")
                        <span class="badge rounded-circle p-1 ms-2 border border-light bg-@(item.ContentStatus ? "success" : "danger")" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="@(item.ContentStatus ? "Aktif" : "Pasif")">
                            <span class="visually-hidden">@item.ContentStatus ? Aktif : Pasif</span>
                        </span>
                    </small>
                </div>
                <p class="mb-1">@item.ContentValue</p>
                <small>@item.Writer.WriterName @item.Writer.WriterSurname</small>
            </a>
        }
    </div>
</div>
